main {
  height: 100vh;
}
.header {
  height: 50%;
  .container {
    justify-content: space-between;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .title {
      font-size: 3rem;
    }
  }
}

.form {
  display: flex;
  justify-content: center;
  //   margin-top: 51rem;
}
.input-group {
  width: 90%;
  max-width: 600px;
  .form-control {
    text-align: center;
    width: 50%;
    font-size: 2rem;
  }
  .btn {
    font-size: 2rem;
    padding: 0 4rem;
    text-transform: uppercase;
  }
}

.buttons {
  display: flex;
  width: 90%;
  flex-direction: row;
  max-width: 600px;
  justify-content: space-evenly;
  .btn {
    width: 160px;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem 4rem;
  }
}
.elements {
  margin: 0 auto;
  height: 50%;
  width: 100%;
  .elements-container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    .new-item {
      margin: 1rem;
      text-align: center;
      outline: 1px solid #fff;
      font-size: 2.5rem;
      color: #fff;
      padding: 0.5rem 1rem;

      border-radius: 3px;
      text-transform: uppercase;
      p {
        margin: 0;
      }
    }
  }
}

.info {
  margin: 2rem 0;
  .error {
    letter-spacing: 1px;
    text-decoration: underline;
    font-size: 2rem;

    margin: 0;
  }
}

.winner-page {
  //   position: fixed;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  p {
    padding: 6rem 0;
  }
}
